<h1 mat-dialog-title style="display: flex; align-content: center; justify-content: center;">Equipments for user {{selectedUser?.firstName + " " + selectedUser?.lastName}}</h1>
<mat-dialog-content>
  <mat-table *ngIf="userEquipments.length > 0" [dataSource]="userEquipments" class="mat-elevation-z8">
    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{ user.equipment.description }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="serialNumber">
      <mat-header-cell *matHeaderCellDef> Serial Number </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{ user.equipment.serialNumber }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="brand">
      <mat-header-cell *matHeaderCellDef> Brand </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{ user.equipment.brand }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="model">
      <mat-header-cell *matHeaderCellDef> Model </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{ user.equipment.model }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="registryDate">
      <mat-header-cell *matHeaderCellDef> Registry Date </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{ user.equipment.registryDate }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="allocationDateTime">
      <mat-header-cell *matHeaderCellDef> Assigned Date </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{ user.assignedDate }} </mat-cell>
    </ng-container>

  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef>
    </mat-header-cell>

    <mat-cell *matCellDef="let user">
      <button (click)="openConfirmationModalRemoveEquipment(user.equipment.id)" mat-mini-fab color="warn" aria-label="Delete user">
        <mat-icon>delete</mat-icon>
      </button>  
    </mat-cell>
  </ng-container>  

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
  <div *ngIf="userEquipments.length == 0">
    <h3 style="display: flex; align-content: center; justify-content: center;">There is no equipments available for this user ! </h3>
  </div>
</mat-dialog-content>
<mat-dialog-actions  style="display: flex; justify-content: center; align-content: center;">
  <button mat-raised-button color="accent" (click)="onClose()">Close</button>
</mat-dialog-actions>
