<mat-card class="full-height-card">
  <mat-card-header>
    <mat-toolbar style="background-color: #1a1a1a; color: white;">
      <mat-toolbar-row style="display: flex; justify-content: center; align-content: center;">Users List</mat-toolbar-row>
    </mat-toolbar>
  </mat-card-header>
    <mat-card-content class="full-height-table">
        <div 
          *ngIf="users$ | async as users; else loading;" class="users-list-container mat-elevation-z8">
          
          <app-users-list 
            [users]="users.content"
            (filteredUsers)="onFilteredResults($event)">
          </app-users-list>

        <mat-paginator
          [pageSizeOptions]="[5,10,15,100]"
          showFirstLastButtons
          [pageIndex]="pageIndex"
          [pageSize]="pageSize"
          aria-label="Select page of users"
          [length]="users.totalElements"
          (page)="refresh($event)"
        >
      </mat-paginator>  
    
        </div>    
        <ng-template #loading>
          <div class="loading-spinner">
              <mat-spinner></mat-spinner>
          </div>
        </ng-template>
      </mat-card-content>
  </mat-card>
    
    
