
.loading-spinner{
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.15);
}

@media only screen and (min-width: 1537px) {
    .mat-mdc-card {
        max-width: 65%;
        display: flex;
        align-content: center;
        justify-content: center;
        margin: 5em auto;
    }
}


@media only screen and (min-width: 700px) and (max-width: 1536px) {
    .mat-mdc-card {
        display: flex;
        align-content: center;
        justify-content: center;
        margin: 2em auto;
    }

    .mat-mdc-table{
        max-width: 100%
    }
}