.mat-toolbar{
    max-height: 200px;
}

@media only screen and (min-width: 1537px) {
    .app-view{
        height: 94vh;
    }
}


@media only screen and (min-width: 700px) and (max-width: 1536px) {
    .app-view{
        height: 90vh;
    }
}

.btn-navbar-container{
    display: block;
    width: 80px;
    margin-top: 10px;
}




