<mat-toolbar color="primary">
  <span>Full Stack Application Spring and Angular</span>
</mat-toolbar>

<mat-drawer-container class="app-view">
    <mat-drawer mode="side" opened>
      <div class="btn-navbar-container">
        <button mat-button [mat-menu-trigger-for]="menu"><mat-icon>menu</mat-icon></button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item [matMenuTriggerFor]="users">Users</button>
          <button mat-menu-item [matMenuTriggerFor]="departments">Departments</button>
          <button mat-menu-item [matMenuTriggerFor]="equipments">Equipments</button>
        </mat-menu>

        <mat-menu #users="matMenu">
          <button mat-menu-item [routerLink]="['admin/new']">Add User</button>
          <button mat-menu-item [routerLink]="['admin/users']">List Users</button>
        </mat-menu>

        <mat-menu #departments="matMenu">
          <button mat-menu-item>Add Department</button>
          <button mat-menu-item [routerLink]="['admin/departments']">List Departments</button>
        </mat-menu>

        <mat-menu #equipments="matMenu">
          <button mat-menu-item [routerLink]="['admin/new-equipment']">Add Equipment</button>
          <button mat-menu-item [routerLink]="['admin/equipments']">List Equipments</button>
        </mat-menu>
      
        <button mat-button>
          <mat-icon>filter</mat-icon>
        </button>
      </div>
    </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>

