<h2 *ngIf="userEquipments.length > 0" style="display: flex; justify-content: center; align-content: center;">Equipments for {{selectedUser?.firstName + " " + selectedUser?.lastName}}</h2>
<h2 *ngIf="userEquipments.length < 1" style="display: flex; justify-content: center; align-content: center;">Error equipments</h2>
<mat-dialog-content>
  <mat-card *ngFor="let userEquipment of userEquipments" style="margin: 2em auto; max-height: 150px; max-width: 65%;">
    <div *ngIf="userEquipments != null || userEquipments != undefined" style="display: flex; align-content: center; justify-content: center; height: 200px">
      <p>{{userEquipment.equipment.brand}}</p>
      <p>{{userEquipment.equipment.model}}</p>
      <p>{{userEquipment.equipment.serialNumber}}</p>
      <p>{{userEquipment.equipment.description}}</p>
      <p>{{userEquipment.equipment.allocationDateTime}}</p>
      <p>{{userEquipment.equipment.location}}</p>
      <p>{{userEquipment.equipment.function}}</p>
      <button mat-fab><mat-icon>more_vert</mat-icon></button>
      <button (click)="returnEquipmentFromUser(selectedUserId, userEquipment.equipment.id)" mat-fab><mat-icon>delete</mat-icon></button>
    </div>
  </mat-card> 
  <div *ngIf="userEquipments.length < 1">
    <h2 style="color: red; display: flex; align-content: center; justify-content: center;">There is no equipments available for this user ! </h2>
  </div>
</mat-dialog-content>
<mat-dialog-actions  style="display: flex; justify-content: center; align-content: center;">
  <button mat-button (click)="onClose()">Close</button>
</mat-dialog-actions>
