<mat-form-field appearance="fill" style="width: 100%;">
  <mat-icon matSuffix>filter_alt</mat-icon>
  <input matInput (keyup)="applyFilter($event)" placeholder="Search users...">
</mat-form-field>
<mat-table [dataSource]="users">
    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef> First Name </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{ user.firstName }} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="lastName">
      <mat-header-cell class="lastName_header_cell" *matHeaderCellDef> Last Name </mat-header-cell>
      <mat-cell class="lastName_cell" *matCellDef="let user"> {{ user.lastName }} </mat-cell>
    </ng-container>     

    <ng-container matColumnDef="workNumber">
      <mat-header-cell *matHeaderCellDef> Work Number </mat-header-cell>
      <mat-cell class="workNumber_cell"*matCellDef="let user"> {{ user.workNumber }} </mat-cell>
    </ng-container>
    
    <!--
    <ng-container matColumnDef="department">
      <mat-header-cell *matHeaderCellDef> Department </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{ user.department.description }} </mat-cell>
    </ng-container>
  -->

    <ng-container matColumnDef="registryDate">
        <mat-header-cell *matHeaderCellDef> Registry Date </mat-header-cell>
        <mat-cell class="department_registryDate" *matCellDef="let user"> {{ user.registryDate }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="birthdayDate">
      <mat-header-cell *matHeaderCellDef> Birthday Date </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{ user.birthdayDate | date: 'dd/MM/yyyy' }} </mat-cell>
  </ng-container>

    <ng-container matColumnDef="isActive">
        <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
        <mat-cell *matCellDef="let user">
          <div *ngIf="user.isActive == true">
            <button mat-raised-button style="background-color: green;">Ativo</button>
          </div>

          <div *ngIf="user.isActive == false">
            <button (click)="onChangeUserStatus(user)" class="btn-user-status" mat-raised-button color="warn">Desativo</button>
          </div>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="userRole">
        <mat-header-cell class="userRole_header_cell" *matHeaderCellDef> Role </mat-header-cell>
        <mat-cell class="userRole_cell" *matCellDef="let user"> {{ user.userRole }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
        <mat-header-cell class="email_header_cell" *matHeaderCellDef> Email </mat-header-cell>
        <mat-cell class="email_cell" *matCellDef="let user"> {{ user.email }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="contactNumber">
        <mat-header-cell *matHeaderCellDef> Contact </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{ user.contactNumber }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="updatedAt">
        <mat-header-cell *matHeaderCellDef> Updated At </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{ user.updatedAt }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>
        <button mat-mini-fab color="primary" aria-label="Add user">
          <mat-icon (click)="onAdd()">add</mat-icon>
        </button>
      </mat-header-cell>

      <mat-cell *matCellDef="let user">
        <button mat-mini-fab (click)="onUpdate(user.id)" color="primary" aria-label="Edit user">
          <mat-icon>edit</mat-icon>
        </button>

        <button *ngIf="user.isActive" (click)="onDelete(user.id)" mat-mini-fab color="accent" aria-label="Delete user">
          <mat-icon>delete</mat-icon>
        </button>

        <button (click)="openModalHistoryLogByUserId(user.id)" mat-mini-fab color="primary" aria-label="View user history">
          <mat-icon>history</mat-icon>
        </button>

        <button [matMenuTriggerFor]="menu" mat-icon-button color="primary">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button *ngIf="user.isActive" mat-menu-item (click)="openMenuForEquipmentAssignment(user)">
            <span>Assign Equipment</span>
          </button>
          <button mat-menu-item (click)="openModalViewEquipmentUserOwner(user.id)">
            <span>List Equipments</span>
          </button>
        </mat-menu>
      </mat-cell>
  </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" class="hover-row"></mat-row>
</mat-table>