@media only screen and (min-width: 700px) and (max-width: 1920px) {
    .mat-mdc-table{
        margin-top: 1rem;
    }

    .mat-mdc-card-content{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: small;
    }

    mat-cell:nth-child(4),
    mat-header-cell:nth-child(4) {
        flex: 0 0 8%;
    }

    mat-cell:nth-child(5),
    mat-header-cell:nth-child(5) {
        flex: 0 0 6%;
    }

    mat-cell:nth-child(7),
    mat-header-cell:nth-child(7) {
        flex: 0 0 17%;
    }

    mat-cell:nth-child(8),
    mat-header-cell:nth-child(8) {
        flex: 0 0 8%;
    }


    mat-cell:nth-child(10),
    mat-header-cell:nth-child(10) {
        flex: 0 0 17%;
    }
}

@media only screen and (min-width: 2000px){
    .mat-mdc-table{
        width: 100%;
        max-width: 100%;
        margin-bottom: 1rem;
    }

    .dialog-equipment-assignment-user-style{
        width: 75%;
    }

    mat-cell:nth-child(7),
    mat-header-cell:nth-child(7) {
        flex: 0 0 14%;
    }

    mat-cell:nth-child(8),
    mat-header-cell:nth-child(8){
        flex: 0 0 12%;
    }

    mat-cell:nth-child(10),
    mat-header-cell:nth-child(10) {
        flex: 0 0 10%;
    }
}

.btn-user-status{
    width: 70px;
}

.mat-mdc-header-row,
mat-header-row{
    position: sticky !important;
    top: 0 !important;
    z-index: 200 !important;
    background: white !important;
    margin: 0 !important;
    padding: 0 !important;
    min-height: 48px !important;
}
    
.mat-mdc-header-cell,
mat-header-cell {
    background: white !important;
    z-index: 201 !important;
    font-weight: bold;
    padding: 0 16px;
    position: relative !important;
}
    
.mat-mdc-table {
    margin-top: 0 !important;
}

.mat-mdc-input-element{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

mat-icon {
    color: black !important;
    transform: scale(1.2);
}

.search-field {
    position: sticky;
    top: 0;
    z-index: 300;
    background: white;
    display: block;
    margin-bottom: 5px;
}


.users-table-container{
    height: 100%;
    max-height: 45vh;
    overflow-y: auto;
    margin: 0 !important;
    padding: 0 !important;
    background: white;
}


