<mat-table [dataSource]="users">
    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef> First Name </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{ user.firstName }} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="lastName">
      <mat-header-cell *matHeaderCellDef> Last Name </mat-header-cell>
      <mat-cell  *matCellDef="let user"> {{ user.lastName }} </mat-cell>
    </ng-container>     

    <ng-container matColumnDef="workNumber">
      <mat-header-cell *matHeaderCellDef> Work Number </mat-header-cell>
      <mat-cell style="min-width: 20px;" *matCellDef="let user"> {{ user.workNumber }} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="department">
      <mat-header-cell style="min-width: 150px;" *matHeaderCellDef> Department </mat-header-cell>
      <mat-cell style="min-width: 150px; max-width: 100px;" *matCellDef="let user"> {{ user.department }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="registryDate">
        <mat-header-cell *matHeaderCellDef> Registry Date </mat-header-cell>
        <mat-cell style="max-width: 100px;" *matCellDef="let user"> {{ user.registryDate }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="birthdayDate">
      <mat-header-cell *matHeaderCellDef> Birthday Date </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{ user.birthdayDate }} </mat-cell>
  </ng-container>

    <ng-container matColumnDef="isActive">
        <mat-header-cell style="max-width: 85px;" *matHeaderCellDef>Status</mat-header-cell>
        <mat-cell style="max-width: 85px;" *matCellDef="let user">
          <div *ngIf="user.active == true" (click)="onChangeUserStatus(user)" >
            <button mat-raised-button style="background-color: green;">Ativo</button>
          </div>

          <div *ngIf="user.active == false" (click)="onChangeUserStatus(user)">
            <button class="btn-user-status" mat-raised-button color="warn">Desativo</button>
          </div>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="userRole">
        <mat-header-cell style="max-width: 120px; min-width: 95px;" *matHeaderCellDef> Role </mat-header-cell>
        <mat-cell style="max-width: 120px; min-width: 95px" *matCellDef="let user"> {{ user.userRole }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
        <mat-header-cell  style="max-width: 300px; min-width: 280px;" *matHeaderCellDef> Email </mat-header-cell>
        <mat-cell style="max-width: 300px; min-width: 280px" *matCellDef="let user"> {{ user.email }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="contactNumber">
        <mat-header-cell *matHeaderCellDef> Contact </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{ user.contactNumber }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="updatedAt">
        <mat-header-cell *matHeaderCellDef> Updated At </mat-header-cell>
        <mat-cell *matCellDef="let user"> {{ user.updatedAt }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>
        <button mat-mini-fab color="primary" aria-label="Add user">
          <mat-icon (click)="onAdd()">add</mat-icon>
        </button>
      </mat-header-cell>
      
      <mat-cell *matCellDef="let user">
        <button mat-mini-fab color="primary" aria-label="Edit user">
          <mat-icon>edit</mat-icon>
        </button>

        <button (click)="onDelete(user.id)" mat-mini-fab color="accent" aria-label="Delete user">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
  </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>