<div *ngFor="let department of departments" style="margin-bottom: 20px;">
    <mat-card>
        <mat-card-header style="align-content: center !important; font-weight: bold; justify-content: center !important;">
            <mat-card-title>Department {{department.description}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p style="display: flex; align-content: center !important; justify-content: center !important;">Code: {{department.value}}</p>
            <p style="display: flex; align-content: center !important; justify-content: center !important;">Total Employees: {{department.totalEmployees}}</p>
        </mat-card-content>
        <mat-card-actions style="justify-content: flex-end;">
            <button [matMenuTriggerFor]="menu" style="margin-top: 20px; display: flex;" mat-icon-button><mat-icon>more_vert</mat-icon></button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="openModalAssignmentDepartmentUser(department)">
                        <mat-icon>assignment_ind</mat-icon>
                        <span>Assign employee</span> <!--This will allow the admin to assign a employee to a department-->
                    </button>
                    <button mat-menu-item>
                        <mat-icon>voicemail</mat-icon> 
                        <span>View all employees</span>  <!--This will allow the admin to see the employees of each department-->
                    </button>   
                    <button mat-menu-item>
                        <mat-icon>voicemail</mat-icon>
                        <span>Track Department</span> <!--This will allow the admin to see all the movements of employees inside a department-->
                    </button>   
                    <button mat-menu-item>
                        <mat-icon>voicemail</mat-icon>
                        <span>Track Department</span> <!--This will allow the admin to see all the movements of employees inside a department-->
                    </button>          
                </mat-menu>
            <button (click)="onUpdate()" style="margin-top: 20px; display: flex;" mat-icon-button><mat-icon>edit_outline</mat-icon></button>
            <button (click)="onDelete(department.id)" style="margin-top: 20px; display: flex;" mat-icon-button><mat-icon>delete_outline</mat-icon></button>
        </mat-card-actions>
    </mat-card>
</div>

