@media only screen and (min-width: 700px) and (max-width: 1536px) {
    .mat-mdc-card{
        width: 100%;
        max-width: 100%;
        margin-bottom: 1rem;
        justify-content: center;
        align-content: center;
        margin-bottom: 20px !important;
    }
}

@media only screen and (min-width: 1537px){
    mat-mdc-card{
        width: 100%;
        max-width: 100%;
        margin-bottom: 1rem;
    }
}

