@media only screen and (min-width: 700px) and (max-width: 1536px) {
    .mat-mdc-card{
        width: 100%;
        max-width: 85%;
        margin: 0 4em;
        justify-content: center;
        align-content: center;
    }

    .mat-mdc-card:hover{
       background-color: darkgray;
    } 

}

@media only screen and (min-width: 1537px){
    mat-mdc-card{
        width: 100%;
        max-width: 100%;
        margin-bottom: 1rem;
    }
}

