@media only screen and (min-width: 1537px) {
    .card-table-equipments {
        max-width: 95%;
        display: flex;
        align-content: center;
        justify-content: center;
        margin: 1em auto;
    }

    .card-container{
        max-width: 55%;
        margin: 5em auto;
    }

    .mat-mdc-form-field {
        width: 100%
    }

    .choice-type-assignment{
        max-width: 98%;
        width: 100%;
        margin: 0 auto;
    }
}


@media only screen and (min-width: 700px) and (max-width: 1536px) {

    .card-container{
        max-width: 75%;
        margin: 2em auto;
    }

    .card-table-equipments{
        max-width: 95%;
        margin: 2em auto;
    }


    .mat-mdc-form-field {
        width: 100%
    }

    .choice-type-assignment{
        max-width: 98%;
        width: 100%;
        margin: 0 auto;
    }
}
    

.btn-navigation-stepper{
    display: flex;
    justify-content: center;
}

.filter-icon{
    margin-left: auto;
}