@media only screen and (min-width: 1537px) {
    .mat-mdc-card {
        max-width: 65%;
        display: flex;
        align-content: center;
        justify-content: center;
        margin: 5em auto;
    }

    .mat-mdc-form-field{
        width: 100%
    }
}


@media only screen and (min-width: 700px) and (max-width: 1536px) {
    .mat-mdc-card {
        max-width: 90%;
        display: flex;
        align-content: center;
        justify-content: center;
        margin: 2em auto;
    }

    .mat-mdc-form-field {
        width: 100%
    }
}
    

.btn-navigation-stepper{
    display: flex;
    justify-content: center;
}