<mat-card class="card-container">
    
    <mat-card-header style="display: flex; align-content: center; justify-content: center;">
        <mat-card-title>Insert a new User</mat-card-title>
    </mat-card-header>
    <div class="choice-type-assignment">
        <mat-card-content>
            <mat-form-field appearance="outline" floatLabel="always" style="width: 100%;">
                <mat-label>Choose the type of assignment</mat-label>
                <mat-select [(value)]="typeAssignmentSelected" (selectionChange)="valueChoosedChanged($event)">
                    <mat-option [value]="'EQU'">Equipment</mat-option>
                    <mat-option [value]="'DEP'">Department</mat-option>
                    <mat-option [value]="'LOC'">Location</mat-option>
                    <mat-option [value]="'NO'">None</mat-option>
                </mat-select>
            </mat-form-field>
    </mat-card-content>     
    </div>
    
    <div *ngIf="typeAssignmentSelected == 'EQU'" class="choice-value-assignment">
        <mat-card class="card-table-equipments">
                <mat-toolbar style="background-color: #1a1a1a; color: white;">
                    <mat-toolbar-row style="display: flex; align-items: center;">
                        <span style="flex: 1; text-align: center;">Equipments Available</span>
                        <span class="filter-icon">
                        </span>
                    </mat-toolbar-row>
                </mat-toolbar>

                <mat-menu #filterMenu="matMenu">
                    <button mat-menu-item (click)="menuItemClicked('All', activeFilterField)"><mat-icon fontSet="material-symbols-outlined" matPrefix>filter_alt</mat-icon>All</button>
                    <button mat-menu-item (click)="menuItemClicked('Contains', activeFilterField)"><mat-icon fontSet="material-symbols-outlined" matPrefix>asterisk</mat-icon>Contains</button>
                    <button mat-menu-item (click)="menuItemClicked('Starts With', activeFilterField)"><mat-icon>flag</mat-icon>Starts With</button>
                </mat-menu>
                
                <mat-menu #filterMenuForDate="matMenu">
                    <button mat-menu-item (click)="menuItemClickedDate('All', activeFilterField)"><mat-icon fontSet="material-symbols-outlined" matPrefix>filter_alt</mat-icon>All</button>
                    <button mat-menu-item (click)="menuItemClickedDate('Greater than or Equal', activeFilterField)">Smaller than or equal</button>
                    <button mat-menu-item (click)="menuItemClickedDate('Greater Than', activeFilterField)"><mat-icon matPrefix>chevron_right</mat-icon>Greater than</button>
                    <button mat-menu-item (click)="menuItemClickedDate('Less than or Equal', activeFilterField)">Greater than or equal</button>
                    <button mat-menu-item (click)="menuItemClickedDate('Less Than', activeFilterField)"><mat-icon matPrefix>chevron_left</mat-icon>Smaller than</button>
                    <button mat-menu-item (click)="menuItemClickedDate('Equals', activeFilterField)">
                        <mat-icon fontSet="material-symbols-outlined" matPrefix>equal</mat-icon><span>Equals</span>
                    </button>
                </mat-menu>

                  <div class="search-grid-container">
                    <mat-grid-list cols="4" rowHeight="55px">
                        <div class="form-field-search-description">
                            <mat-grid-tile>
                                <mat-form-field>
                                        <button mat-icon-button matPrefix [mat-menu-trigger-for]="filterMenu" (click)="setActiveFilter('description')">
                                            <mat-icon fontSet="material-symbols-outlined">{{filterLogoSymbolChoosedForDescriptionInput}}</mat-icon>
                                        </button>
                                    <input #descriptionInput matInput (input)="applyFilter($event, 'description')">
                                </mat-form-field>
                            </mat-grid-tile>
                        </div>
                        
                        <div class="form-field-search-serialNumber">
                            <mat-grid-tile>
                                <mat-form-field>
                                    <button mat-icon-button matPrefix [mat-menu-trigger-for]="filterMenu" (click)="setActiveFilter('serialNumber')">
                                        <mat-icon fontSet="material-symbols-outlined">{{filterLogoSymbolChoosedForSerialNumberInput}}</mat-icon>
                                    </button>
                                    <input #serialNumberInput matInput (input)="applyFilter($event, 'serialNumber')">
                                </mat-form-field>
                            </mat-grid-tile>
                        </div>
                        
                        <div class="form-field-search-type">
                            <mat-grid-tile>
                                <mat-form-field>
                                    <button mat-icon-button  matPrefix *ngIf="selectedEquipmentType" (click)="clearSelectTypeEquipmentFilter()" (click)="setActiveFilter('type')">
                                        <mat-icon fontSet="material-symbols-outlined">clear</mat-icon>
                                    </button>
                                        <mat-select #equipmentTypeSelect (selectionChange)="getEquipmentTypeSelected($event)" [(ngModel)]="selectedEquipmentType">
                                        <mat-option *ngFor="let categoryEquipmentType of equipmentsCategoryType" [value]="categoryEquipmentType">{{categoryEquipmentType}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </mat-grid-tile>
                        </div>
                        
                        <mat-grid-tile>
                            <mat-form-field>
                                <button mat-icon-button matPrefix [matMenuTriggerFor]="filterMenuForDate"
                                (click)="setActiveFilter('registryDate')">
                                    <mat-icon fontSet="material-symbols-outlined">{{filterLogoSymbolChoosedForRegistryDateInput}}</mat-icon>
                                </button>
                                <input #registryDateInput matInput [matDatepicker]="picker" [(ngModel)]="formatedDate"
                                (dateChange)="applyDateFilter($event, 'registryDate')">
                                
                                <mat-datepicker-toggle matSuffix [for]="picker">
                                    <mat-icon matDatepickerToggleIcon fontSet="material-symbols-outlined" style="color: black;">calendar_month></mat-icon>
                                </mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </mat-grid-tile>
                    </mat-grid-list>
                  </div>
            <mat-card-content>
                <mat-table [dataSource]="dataSource">

                <ng-container matColumnDef="select">
                    <mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (change)="$event ? toogleAllRows() : null"
                                      [checked]="selection.hasValue() && isAllSelected()"
                                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                                      [aria-label]="checkboxLabel()"
                                      >
                        </mat-checkbox>
                    </mat-header-cell>

                    <mat-cell *matCellDef="let row">
                        <mat-checkbox (click)="$event.stopPropagation()"
                                      (change)="$event ? selection.toggle(row) : null"
                                      [checked]="selection.isSelected(row)"
                                      [aria-label]="checkboxLabel(row)"
                                      (change)="getEquipmentsSelected($event, row)"
                                      >

                        </mat-checkbox>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="description">
                    <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
                    <mat-cell *matCellDef="let equipment"> {{equipment.description}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="serialNumber">
                    <mat-header-cell *matHeaderCellDef> Serial Number </mat-header-cell>
                    <mat-cell *matCellDef="let equipment"> {{equipment.serialNumber}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="type">
                    <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
                    <mat-cell *matCellDef="let equipment"> {{equipment.type}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="registryDate">
                    <mat-header-cell *matHeaderCellDef> Registry Date </mat-header-cell>
                    <mat-cell *matCellDef="let equipment"> {{equipment.registryDate}} </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;" class="hover-row"></mat-row>
            </mat-table>
                
            <mat-paginator 
                [pageSizeOptions]="[5,10,15]"
                showFirstLastButtons
                [length]="totalElements"
                [pageSize]="pageSize"
                (page)="onPageChange($event)">
            </mat-paginator>
            </mat-card-content>
        </mat-card>     
    </div>

        <!-- Depends on the type assignment selected -->
        <div *ngIf="typeAssignmentSelected == 'LOC'" class="choice-value-assignment">
            <mat-card-content>
                <mat-form-field appearance="outline" floatLabel="always">
                    <mat-label>Choose the equipment to assign</mat-label>
                    <mat-select>
                        <mat-option></mat-option>
                    </mat-select>
                </mat-form-field>
        </mat-card-content>     
        </div>

        <!-- Depends on the type assignment selected -->
        <div *ngIf="typeAssignmentSelected == 'DEP'" class="choice-value-assignment">
            <mat-card-content>
                <mat-form-field appearance="outline" floatLabel="always">
                    <mat-label>Choose the equipment to assign</mat-label>
                    <mat-select [(value)]="departmentSelectedId" (selectionChange)="valueChoosedChanged($event)">
                        <mat-option *ngFor="let department of departments" [value]="department.id">{{department.description}}</mat-option>
                    </mat-select>
                </mat-form-field>
        </mat-card-content>     
        </div>    
    
    <mat-card *ngIf="typeAssignmentSelected == 'NO'">
        <mat-card-content>
            <div class="form-fill-data">
                <form [formGroup]="employeeRegister">
                <mat-stepper [linear]="isLinear" #stepper>
                        <mat-step>
                            <div formGroupName="basic">
                                <ng-template matStepLabel>Fill out personal information</ng-template>
                                <mat-form-field appearance="fill">
                                    <mat-label>First Name</mat-label>
                                <input matInput placeholder="First Name" formControlName="firstName" required>
                                </mat-form-field>
            
                                <mat-form-field appearance="fill">
                                    <mat-label>Last Name</mat-label>
                                <input matInput placeholder="Last Name" formControlName="lastName" required>
                                </mat-form-field>
            
                                <mat-form-field appearance="fill">
                                    <mat-label>Choose Birthday Date</mat-label>
                                <input matInput placeholder="Birthday Date" [matDatepicker]="picker" formControlName="birthdayDate">
                                <mat-hint>DD/MM/YYYY</mat-hint>
                                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>

                                <mat-form-field appearance="fill">
                                    <mat-label>NIF</mat-label>
                                <input matInput type="number" placeholder="NIF" formControlName="nif" required>
                                </mat-form-field>
            
                                <div class="btn-navigation-stepper">
                                    <button mat-icon-button fontSet="material-symbols-outlined" matStepperNext><mat-icon>arrow_forward</mat-icon></button>
                                </div>
                            </div>
                        </mat-step>
            
                        <mat-step>
                            <div formGroupName="contact">
                                <ng-template matStepLabel>Fill out contact information</ng-template>
                                <mat-form-field appearance="fill">
                                    <mat-label>Email</mat-label>
                                <input matInput placeholder="Email" formControlName="email" required>
                                </mat-form-field>
            
                                <mat-form-field appearance="fill">
                                    <mat-label>Contact Number</mat-label>
                                <input matInput placeholder="Contact Number" formControlName="contactNumber" required>
                                </mat-form-field>
            
                                <div class="btn-navigation-stepper">
                                    <button mat-icon-button fontSet="material-symbols-outlined" matStepperPrevious><mat-icon>arrow_backward</mat-icon></button>
                                    <button mat-icon-button matStepperNext fontSet="material-symbols-outlined"><mat-icon>arrow_forward</mat-icon></button>
                                </div>
                            </div>
                        </mat-step>
            
                        <mat-step>
                            <div formGroupName="professionalData">
                                <ng-template matStepLabel>Fill out professional data</ng-template>
                                <mat-form-field appearance="fill">
                                    <mat-label>Work Number</mat-label>
                                <input matInput type="number" placeholder="Work Number" formControlName="workNumber" required>
                                </mat-form-field>
            
                                <mat-form-field appearance="fill">
                                    <mat-label>Choose Admission Date</mat-label>
                                <input matInput placeholder="Admission Date" [matDatepicker]="picker2" formControlName="admissionDate">
                                <mat-hint>DD/MM/YYYY</mat-hint>
                                <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                                <mat-datepicker #picker2></mat-datepicker>
                                </mat-form-field>
                                
                                <mat-form-field appearance="fill">
                                    <mat-label>Recruitment Company</mat-label>
                                <input matInput placeholder="Recruitment Company" formControlName="recruitmentCompany" required>
                                </mat-form-field>
            
                                <mat-form-field class="full-width" appearance="outline">
                                    <mat-select placeholder="Select a shift type" formControlName="shiftType">
                                    @for (shiftType of shiftTypes; track shiftType) {
                                        <mat-option [value]="shiftType.viewValue">{{shiftType.viewValue}}</mat-option>
                                    }
                                    </mat-select>
                                </mat-form-field>  

                                <div class="btn-navigation-stepper">
                                    <button mat-icon-button matStepperPrevious fontSet="material-symbols-outlined"><mat-icon>arrow_backward</mat-icon></button>
                                    <button mat-icon-button matStepperNext fontSet="material-symbols-outlined"><mat-icon>arrow_forward</mat-icon></button>
                                </div>
                            </div>
                        </mat-step>
            
                            <mat-step>
                                <div formGroupName="security">
                                    <ng-template matStepLabel>Fill out security information</ng-template>
                                    <mat-form-field appearance="fill">
                                        <mat-label>User Role</mat-label>
                                        <mat-select formControlName="userRole">
                                        <mat-option *ngFor="let role of UserRole | keyvalue" [value]="role.value">
                                            {{ role.value }}
                                        </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                        
                                    <mat-form-field appearance="fill">
                                        <mat-label>Password</mat-label>
                                    <input matInput placeholder="Password" formControlName="password" required>
                                    </mat-form-field>
            
                                    <div>
                                        <div class="btn-navigation-stepper">
                                            <button mat-raised-button (click)="onCancel()" color="primary"><mat-icon color="accent">clear</mat-icon>Cancel</button>
                                            <button mat-raised-button (click)="onSubmit()" color="primary" matStepperNext><mat-icon>check_circle</mat-icon>Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </mat-step>
                </mat-stepper>                
            </form> 
        </div>
        </mat-card-content>
    </mat-card>

        <!--<mat-card *ngIf="typeAssignmentSelected != null && isAvailableToProceedToUserCreation">-->
        <div class="form-fill-data" *ngIf="idEquipments.length >= 1">
            <mat-card-content>
                <mat-card>
                    <form [formGroup]="employeeRegister">
                    <mat-stepper [linear]="isLinear" #stepper>
                            <mat-step>
                                <div formGroupName="basic">
                                    <ng-template matStepLabel>Fill out personal information</ng-template>
                                    <mat-form-field appearance="fill">
                                        <mat-label>First Name</mat-label>
                                    <input matInput placeholder="First Name" formControlName="firstName" required>
                                    </mat-form-field>
                
                                    <mat-form-field appearance="fill">
                                        <mat-label>Last Name</mat-label>
                                    <input matInput placeholder="Last Name" formControlName="lastName" required>
                                    </mat-form-field>
                
                                    <mat-form-field appearance="fill">
                                        <mat-label>Choose Birthday Date</mat-label>
                                    <input matInput placeholder="Birthday Date" [matDatepicker]="picker" formControlName="birthdayDate">
                                    <mat-hint>DD/MM/YYYY</mat-hint>
                                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>

                                    <mat-form-field appearance="fill">
                                        <mat-label>NIF</mat-label>
                                    <input matInput type="number" placeholder="NIF" formControlName="nif" required>
                                    </mat-form-field>
                
                                    <div class="btn-navigation-stepper">
                                        <button mat-icon-button fontSet="material-symbols-outlined" matStepperNext><mat-icon>arrow_forward</mat-icon></button>
                                    </div>
                                </div>
                            </mat-step>
                
                            <mat-step>
                                <div formGroupName="contact">
                                    <ng-template matStepLabel>Fill out contact information</ng-template>
                                    <mat-form-field appearance="fill">
                                        <mat-label>Email</mat-label>
                                    <input matInput placeholder="Email" formControlName="email" required>
                                    </mat-form-field>
                
                                    <mat-form-field appearance="fill">
                                        <mat-label>Contact Number</mat-label>
                                    <input matInput placeholder="Contact Number" formControlName="contactNumber" required>
                                    </mat-form-field>
                
                                    <div class="btn-navigation-stepper">
                                        <button mat-icon-button fontSet="material-symbols-outlined" matStepperPrevious><mat-icon>arrow_backward</mat-icon></button>
                                        <button mat-icon-button fontSet="material-symbols-outlined" matStepperNext><mat-icon>arrow_forward</mat-icon></button>
                                    </div>
                                </div>
                            </mat-step>
                
                            <mat-step>
                                <div formGroupName="professionalData">
                                    <ng-template matStepLabel>Fill out professional data</ng-template>
                                    <mat-form-field appearance="fill">
                                        <mat-label>Work Number</mat-label>
                                    <input matInput type="number" placeholder="Work Number" formControlName="workNumber" required>
                                    </mat-form-field>
                
                                    <mat-form-field appearance="fill">
                                        <mat-label>Choose Admission Date</mat-label>
                                    <input matInput placeholder="Admission Date" [matDatepicker]="picker2" formControlName="admissionDate">
                                    <mat-hint>DD/MM/YYYY</mat-hint>
                                    <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                                    <mat-datepicker #picker2></mat-datepicker>
                                    </mat-form-field>
                                    
                                    <mat-form-field appearance="fill">
                                        <mat-label>Recruitment Company</mat-label>
                                    <input matInput placeholder="Recruitment Company" formControlName="recruitmentCompany" required>
                                    </mat-form-field>
                
                                    <mat-form-field class="full-width" appearance="outline">
                                        <mat-select placeholder="Select a shift type" formControlName="shiftType">
                                        @for (shiftType of shiftTypes; track shiftType) {
                                            <mat-option [value]="shiftType.viewValue">{{shiftType.viewValue}}</mat-option>
                                        }
                                        </mat-select>
                                    </mat-form-field>  

                                    <div class="btn-navigation-stepper">
                                        <button mat-icon-button fontSet="material-symbols-outlined" matStepperPrevious><mat-icon>arrow_backward</mat-icon></button>
                                        <button mat-icon-button fontSet="material-symbols-outlined" matStepperNext><mat-icon>arrow_forward</mat-icon></button>
                                    </div>
                                </div>
                            </mat-step>
                
                                <mat-step>
                                    <div formGroupName="security">
                                        <ng-template matStepLabel>Fill out security information</ng-template>
                                        <mat-form-field appearance="fill">
                                            <mat-label>User Role</mat-label>
                                            <mat-select formControlName="userRole">
                                            <mat-option *ngFor="let role of UserRole | keyvalue" [value]="role.value">
                                                {{ role.value }}
                                            </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                            
                                        <mat-form-field appearance="fill">
                                            <mat-label>Password</mat-label>
                                        <input matInput placeholder="Password" formControlName="password" required>
                                        </mat-form-field>
                
                                        <div>
                                            <div class="btn-navigation-stepper">
                                                <button mat-icon-button (click)="onCancel()" fontSet="material-symbols-outlined"><mat-icon>clear</mat-icon></button>
                                                <button mat-icon-button (click)="onSubmit()" matStepperNext><mat-icon>assignment</mat-icon></button>
                                            </div>
                                        </div>
                                    </div>
                                </mat-step>
                    </mat-stepper>                
                </form> 
            </mat-card>
            </mat-card-content>
        </div>   
