<mat-table [dataSource]="equipments">
    <ng-container matColumnDef="brand">
      <mat-header-cell *matHeaderCellDef> Brand </mat-header-cell>
      <mat-cell *matCellDef="let equipment"> {{ equipment.brand }} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="model">
      <mat-header-cell *matHeaderCellDef> Model </mat-header-cell>
      <mat-cell *matCellDef="let equipment"> {{ equipment.model }} </mat-cell>
    </ng-container>     

    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
      <mat-cell *matCellDef="let equipment"> {{ equipment.description }} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="serialNumber">
      <mat-header-cell *matHeaderCellDef> S/N </mat-header-cell>
      <mat-cell *matCellDef="let equipment"> {{ equipment.serialNumber }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
      <mat-cell *matCellDef="let equipment">
        <button class="btn_statusEquipment" color="warn" *ngIf="equipment.statusEquipment == 'IN_USE' || equipment.statusEquipment == 'NOT_AVAILABLE'" mat-raised-button>
          {{equipment.statusEquipment}} 
        </button>
        <button class="btn_statusEquipment" color="accent" *ngIf="equipment.statusEquipment == 'ON_WARRANTY' || equipment.statusEquipment == 'FOR_WARRANTY'" mat-raised-button>
          {{equipment.statusEquipment}} 
        </button>
        <button class="btn_statusEquipment" *ngIf="equipment.statusEquipment == 'AVAILABLE'" mat-raised-button style="background-color: green; color: white;">
          {{equipment.statusEquipment}} 
        </button>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="registryDate">
        <mat-header-cell *matHeaderCellDef> Registry Date </mat-header-cell>
        <mat-cell *matCellDef="let equipment"> {{ equipment.registryDate }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>
        <button [routerLink]="['../new-equipment']" mat-mini-fab color="primary" aria-label="Add user">
          <mat-icon>add</mat-icon>
        </button>
      </mat-header-cell>

      <mat-cell *matCellDef="let equipment">
        <button mat-mini-fab color="accent" aria-label="Edit equipment">
          <mat-icon>edit</mat-icon>
        </button>

        <button mat-mini-fab color="warn" aria-label="Delete equipment">
          <mat-icon (click)="onDelete(equipment.id)">delete</mat-icon>
        </button>

        <button mat-mini-fab color="primary" aria-label="View equipment history">
          <mat-icon>history</mat-icon>
        </button>

        <button [matMenuTriggerFor]="menu" mat-icon-button color="primary">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <span>View User</span>
          </button>
          <button *ngIf="equipment.statusEquipment == 'AVAILABLE'" mat-menu-item>
            <span>Assign User</span>
          </button>
        </mat-menu>
      </mat-cell>
  </ng-container>
  
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>