@media only screen and (min-width: 700px) and (max-width: 1920px) {
    .mat-mdc-table{
        width: 100%;
        max-width: 100%;
        margin-bottom: 1rem;
        margin-top: 0; 
        display: table;
        background: white;
    }

    .btn_statusEquipment{
        width: 150px;
    }

    mat-cell:nth-child(1),
    mat-header-cell:nth-child(1) {
        flex: 0 0 10%;
    }

    mat-cell:nth-child(2),
    mat-header-cell:nth-child(2) {
        flex: 0 0 10%;
    }

    mat-cell:nth-child(3),
    mat-header-cell:nth-child(3) {
        flex: 0 0 22%;
    }

    mat-cell:nth-child(4),
    mat-header-cell:nth-child(4) {
        flex: 0 0 14%;
    }

    mat-cell:nth-child(5),
    mat-header-cell:nth-child(5) {
        flex: 0 0 14%;
    }

    mat-cell:nth-child(6),
    mat-header-cell:nth-child(6) {
        flex: 0 0 10%;
    }
}

@media only screen and (min-width: 2000px){
    .mat-mdc-table{
        width: 100%;
        max-width: 100%;
        margin-bottom: 1rem;
        background: white;
    }

    .mat-mdc-cell, .mat-mdc-header{
        line-break: unset;
        overflow: hidden;
        vertical-align: middle;
    }

    mat-cell:nth-child(1),
    mat-header-cell:nth-child(1) {
        flex: 0 0 10%;
    }

    mat-cell:nth-child(2),
    mat-header-cell:nth-child(2) {
        flex: 0 0 10%;
    }

    mat-cell:nth-child(3),
    mat-header-cell:nth-child(3) {
        flex: 0 0 23%;
    }

    mat-cell:nth-child(4),
    mat-header-cell:nth-child(4) {
        flex: 0 0 14%;
    }

    mat-cell:nth-child(5),
    mat-header-cell:nth-child(5) {
        flex: 0 0 13%;
    }

    mat-cell:nth-child(6),
    mat-header-cell:nth-child(6) {
        flex: 0 0 11%;
    }

    .btn_statusEquipment{
        width: 100px;
    }
}

.mat-mdc-table-container{
    height: 100%;
    max-height: 55vh;
    overflow-y: auto;
    margin-top: 0 !important;
    padding-top: 0 !important;
    background: white;
}

.btn-user-status{
    width: 70px;
}

mat-icon{
    transform: scale(1.2);
}


.mat-mdc-header-row,
mat-header-row{
    position: sticky !important;
    top: 0 !important;
    z-index: 200 !important;
    background: white !important;
    margin: 0 !important;
    padding: 0 !important;
}

.mat-mdc-header-cell,
mat-header-cell {
    background: white !important;
    z-index: 201 !important;
    font-weight: bold;
    background-color: white;
    padding: 0 16px;
}

.mat-mdc-table {
    margin-top: 0 !important;
}




