<mat-toolbar>
    <mat-toolbar-row *ngIf="departmentSelectedHasEmployees">Users From Department</mat-toolbar-row>
    <mat-toolbar-row *ngIf="!departmentSelectedHasEmployees">No Users</mat-toolbar-row>
</mat-toolbar>
<mat-card>
    <mat-card-content *ngIf="departmentSelectedHasEmployees">
        <mat-table [dataSource]="users" *ngIf="users; else loading;">
            <ng-container matColumnDef="firstName">
              <mat-header-cell *matHeaderCellDef> First Name </mat-header-cell>
              <mat-cell *matCellDef="let user"> {{ user.firstName }} </mat-cell>
            </ng-container>
          
            <ng-container matColumnDef="lastName">
              <mat-header-cell class="lastName_header_cell" *matHeaderCellDef> Last Name </mat-header-cell>
              <mat-cell class="lastName_cell" *matCellDef="let user"> {{ user.lastName }} </mat-cell>
            </ng-container>     
        
            <ng-container matColumnDef="workNumber">
              <mat-header-cell *matHeaderCellDef> Work Number </mat-header-cell>
              <mat-cell class="workNumber_cell"*matCellDef="let user"> {{ user.workNumber }} </mat-cell>
            </ng-container>
        
            <ng-container matColumnDef="isActive">
                <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
                <mat-cell *matCellDef="let user">
                  <div *ngIf="user.isActive == true">
                    <button mat-raised-button style="background-color: green;">Ativo</button>
                  </div>
        
                  <div *ngIf="user.isActive == false">
                    <button class="btn-user-status" mat-raised-button color="warn">Desativo</button>
                  </div>
                </mat-cell>
            </ng-container>
        
            <ng-container matColumnDef="userRole">
                <mat-header-cell class="userRole_header_cell" *matHeaderCellDef> Role </mat-header-cell>
                <mat-cell class="userRole_cell" *matCellDef="let user"> {{ user.userRole }} </mat-cell>
            </ng-container>
          
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <ng-template #loading>
          <div class="loading-spinner">
              <mat-spinner></mat-spinner>
          </div>
        </ng-template>
    </mat-card-content>
    <mat-card-content>
      <div *ngIf="!departmentSelectedHasEmployees">
        <h1 style="color: red;">No employees to show on this department !</h1>
      </div>
    </mat-card-content>
</mat-card>
