<!--
<mat-toolbar style="display: flex; align-content: center; justify-content: center;" color="primary">
    Assign Equipment
</mat-toolbar>
-->
<mat-card class="card-equipments">
    <mat-card-content>
    </mat-card-content>
</mat-card>
<!--
<div *ngIf="!canChooseMultipleEquipments">
  <mat-card *ngIf="canLoadInformationCardAssignment && this.cMultiCtrl.value != null" style="display: flex; align-content: center; justify-content: center;">
    <mat-card-header style="display: table-row; justify-content: center; align-content: center;">
      <mat-card-title style="display: flex; justify-content: center; align-content: center;">Overview of assignment</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div *ngIf="selectedEquipment$ | async;">
        <div class="card-assignment-information" style="justify-content: center; align-content: center;">
          <mat-card>
            <div class="card-equipment-information">
              <p>Brand: {{selectedEquipment.brand}}</p>
              <p>Model: {{selectedEquipment.model}}</p>
              <p>S/N: {{selectedEquipment.serialNumber}}</p>
              <p>Unity: {{selectedEquipment.unity}}</p>
            </div>
          </mat-card>
          
          <mat-card>
            <div class="card-user-information">
              <p>Name: {{data.firstName + " " + data.lastName}}</p>
              <p>Work Number: {{data.workNumber}}</p>
              <p>Department: {{data.department}}</p>
              <p>Email: {{data.email}}</p>
            </div>
          </mat-card>
      </div>
    </div>
    </mat-card-content>
    <mat-card-actions style="justify-content: center; align-content: center">
      <button (click)="onConfirm(true)" mat-raised-button color="primary">Confirm</button>
      <button (click)="onConfirm(false)" mat-raised-button color="warn">Cancel</button>
  </mat-card-actions>   
  </mat-card>
</div>
<div *ngIf="canChooseMultipleEquipments && canLoadInformationCardAssignment && this.cMultiCtrl.value != null">
  <mat-card *ngFor="let selectedEquipment of selectedMultipleEquipmentsList">
    <div class="card-equipment-information">
      <p>Brand: {{selectedEquipment.brand}}</p>
      <p>Model: {{selectedEquipment.model}}</p>
      <p>S/N: {{selectedEquipment.serialNumber}}</p>
      <p>Unity: {{selectedEquipment.unity}}</p>
    </div>
  </mat-card>
  
  <mat-card>
    <div class="card-user-information">
      <p>Name: {{data.firstName + " " + data.lastName}}</p>
      <p>Work Number: {{data.workNumber}}</p>
      <p>Department: {{data.department}}</p>
      <p>Email: {{data.email}}</p>
    </div>
  </mat-card>
</div>
  -->
<mat-card-actions style="justify-content: center; align-content: center">
  <button *ngIf="this.cMultiCtrl.value != null" (click)="onConfirm(true)" mat-raised-button color="primary">Confirm</button>
  <button (click)="onConfirm(false)" mat-raised-button color="warn">Cancel</button>
</mat-card-actions>   