.mat-mdc-card{
    width: 80%;
    margin: 2em auto;
}


.full-width{
    width: 90%;
}

.card-equipment-information{
    word-break: break-all;
    text-align: center;
}

.card-user-information{
    word-break: break-all;
    text-align: center;
}


