<mat-toolbar style="display: flex; align-content: center; justify-content: center;" color="primary">
    Assign Equipment
</mat-toolbar>
<mat-card>
  <div *ngIf="equipmentsAvailable$ | async as equipments; else loading">
    <mat-card-content *ngIf="equipmentsAvailable.length > 0">
      <div *ngIf="!canChooseMultipleEquipments">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Select Equipment</mat-label>
            <mat-select [formControl]="cMultiCtrl" #equipmentValue (selectionChange)="changeEquipment($event.value)" required>
              @for (equipment of equipmentsAvailable; track equipmentsAvailable) {
                <mat-option [value]="equipment.id">{{equipment.description}}</mat-option>
              }
            </mat-select>  
          </mat-form-field>
          <button color="primary" mat-mini-fab (click)="clear()" matPrefix style="margin-left: 1em;"><mat-icon>clear</mat-icon></button>
      </div>  
          
        <div *ngIf="canChooseMultipleEquipments">
          <mat-form-field appearance="fill" class="full-width">
            <mat-label>Select Equipment</mat-label>
            <mat-select [formControl]="cMultiCtrl" [(value)]="selectedMultipleEquipmentsIds" #equipmentValue (selectionChange)="changeMultipleEquipment($event.value)" multiple>
              @for (equipment of equipmentsAvailable; track equipmentsAvailable) {
                <mat-option [value]="equipment.id">{{equipment.description}}</mat-option>
              }
            </mat-select>
          </mat-form-field> 
          <button color="primary" mat-mini-fab (click)="clearMultipleSelection()" matPrefix style="margin-left: 1em;"><mat-icon>clear</mat-icon></button>
        </div>  
          <mat-checkbox *ngIf="equipmentsAvailable.length > 1" (change)="canChooseMultipleEquipments = $event.source.checked" [checked]="canChooseMultipleEquipments" color="primary">Assign multiple equipments</mat-checkbox>  
    </mat-card-content>
  </div>
  <ng-template #loading>
    <div class="loading-spinner">
        <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</mat-card>
<div *ngIf="!canChooseMultipleEquipments">
  <mat-card *ngIf="canLoadInformationCardAssignment && this.cMultiCtrl.value != null" style="display: flex; align-content: center; justify-content: center;">
    <mat-card-header style="display: table-row; justify-content: center; align-content: center;">
      <mat-card-title style="display: flex; justify-content: center; align-content: center;">Overview of assignment</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div *ngIf="selectedEquipment$ | async; else loading">
        <div class="card-assignment-information" style="justify-content: center; align-content: center;">
          <mat-card>
            <div class="card-equipment-information">
              <p>Brand: {{selectedEquipment.brand}}</p>
              <p>Model: {{selectedEquipment.model}}</p>
              <p>S/N: {{selectedEquipment.serialNumber}}</p>
              <p>Unity: {{selectedEquipment.unity}}</p>
            </div>
          </mat-card>
          
          <mat-card>
            <div class="card-user-information">
              <p>Name: {{data.firstName + " " + data.lastName}}</p>
              <p>Work Number: {{data.workNumber}}</p>
              <p>Department: {{data.department}}</p>
              <p>Email: {{data.email}}</p>
            </div>
          </mat-card>
      </div>
    </div>
    </mat-card-content>
    <!--
    <mat-card-actions style="justify-content: center; align-content: center">
      <button (click)="onConfirm(true)" mat-raised-button color="primary">Confirm</button>
      <button (click)="onConfirm(false)" mat-raised-button color="warn">Cancel</button>
  </mat-card-actions>   
  -->
  </mat-card>
</div>
<div *ngIf="canChooseMultipleEquipments && canLoadInformationCardAssignment && this.cMultiCtrl.value != null">
  <mat-card *ngFor="let selectedEquipment of selectedMultipleEquipmentsList">
    <div class="card-equipment-information">
      <p>Brand: {{selectedEquipment.brand}}</p>
      <p>Model: {{selectedEquipment.model}}</p>
      <p>S/N: {{selectedEquipment.serialNumber}}</p>
      <p>Unity: {{selectedEquipment.unity}}</p>
    </div>
  </mat-card>
  
  <mat-card>
    <div class="card-user-information">
      <p>Name: {{data.firstName + " " + data.lastName}}</p>
      <p>Work Number: {{data.workNumber}}</p>
      <p>Department: {{data.department}}</p>
      <p>Email: {{data.email}}</p>
    </div>
  </mat-card>
</div>
<mat-card-actions style="justify-content: center; align-content: center">
  <button *ngIf="this.cMultiCtrl.value != null" (click)="onConfirm(true)" mat-raised-button color="primary">Confirm</button>
  <button (click)="onConfirm(false)" mat-raised-button color="warn">Cancel</button>
</mat-card-actions>   