.full-width{
    width: 100%;
}
 
    
mat-card{
    margin: 2em auto;
    display: flex;
    align-items: center;
}

@media only screen and (min-width: 2000px) {
    mat-card{
        max-width: 70%;
    }
}

@media only screen and (min-width: 400px) {
    mat-card{
        max-width: 35%;
    }
}

mat-form-field{
    height: 45px;
    margin: 0.7em;
}

mat-toolbar{
    justify-content: center;
    align-items: center;
}