<form [formGroup]="userRegistrationForm">
    <mat-form-field>
        <input matInput placeholder="First Name" formControlName="firstName">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Last Name" formControlName="lastName">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Work Number" type="number" formControlName="workNumber">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Department" formControlName="department">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Favorite food</mat-label>
        <mat-select>
          @for (userRole of usersRoles; track userRole) {
            <mat-option [value]="userRole.viewValue">{{userRole.viewValue}}</mat-option>
          }
        </mat-select>
      </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Email" formControlName="email">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Contact Number" formControlName="contactNumber">
    </mat-form-field>
</form>
