<div *ngIf="statusUser == false" >
  <h2 mat-dialog-title>{{ actionForAtivate }} account</h2>
</div>
<div *ngIf="statusUser == true" >
  <h2 mat-dialog-title>{{ actionForDeactivate }} account</h2>
</div>
<mat-dialog-content>
  <p>{{ data.at(0) }}</p>
</mat-dialog-content>
<mat-dialog-actions style="display: flex; align-content: center; justify-content: center;">
  <button mat-raised-button (click)="onConfirm(false)" color="warn">No</button>
  <button (click)="onConfirm(true)" mat-raised-button color="primary" mat-dialog-close cdkFocusInitial>Yes</button>
</mat-dialog-actions>

