<mat-toolbar color="primary">
    <mat-toolbar-row style="display: flex; align-content: center; justify-content: center;">Department: {{data.description}}</mat-toolbar-row>
</mat-toolbar>
<div class="container-table-users">
    <mat-card>
        <mat-toolbar color="primary" style="display: flex; align-items: center; justify-content: center;">Users Available</mat-toolbar>
        <mat-card-content>
            <div *ngIf="users$ | async as users; else loading">
                <mat-table [dataSource]="users">
                    <ng-container matColumnDef="select">
                        <mat-header-cell *matHeaderCellDef>
                          <mat-checkbox (change)="$event ? toggleAllRows() : null"
                                        [checked]="selection.hasValue() && isAllSelected()"
                                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                                        >
                          </mat-checkbox>
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                          <mat-checkbox (click)="$event.stopPropagation()"
                                        (change)="$event ? selection.toggle(row) : null"
                                        [checked]="selection.isSelected(row)"
                                        >
                          </mat-checkbox>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="firstName">
                        <mat-header-cell *matHeaderCellDef> First Name </mat-header-cell>
                        <mat-cell *matCellDef="let user"> {{ user.firstName }} </mat-cell>
                      </ng-container>
                    
                      <ng-container matColumnDef="lastName">
                        <mat-header-cell *matHeaderCellDef> Last Name </mat-header-cell>
                        <mat-cell *matCellDef="let user"> {{ user.lastName }} </mat-cell>
                      </ng-container>     
                  
                      <ng-container matColumnDef="workNumber">
                        <mat-header-cell *matHeaderCellDef> Work Number </mat-header-cell>
                        <mat-cell *matCellDef="let user"> {{ user.workNumber }} </mat-cell>
                      </ng-container>
                    
                      <ng-container matColumnDef="admissionDate">
                        <mat-header-cell *matHeaderCellDef> Admission Date </mat-header-cell>
                        <mat-cell *matCellDef="let user"> {{ user.admissionDate }} </mat-cell>
                      </ng-container>

                      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
            </div>
        </mat-card-content>
        <ng-template #loading>
            <div class="loading-spinner">
                <mat-spinner></mat-spinner>
            </div>
          </ng-template>
    </mat-card>
</div>
