.loading-spinner{
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.15);       
}

.container-table-users{
    width: 95%;
    max-width: 100%;
    margin: 2rem auto;
}

.user-card{
    margin-top: 2rem;
    width: 30%;
    height: 30%;
    float: left;
    margin-right: 10px;
}